
/*.custom__hover{
    -webkit-line-clamp: 2;
}*/
.custom__hover:hover{
    background-color: rgba(13, 110, 253, 0.4)!important;
}
.custom__hover:focus{
    background-color: rgba(13, 110, 253, 0.7) !important;
}